.footer {
  .credit {
    font-style: italic;
    margin-top: 10px;
    color: transparentize($color-white, 0.4);
    a {
      text-decoration: none;
    }
  }
}
.explanation {
  clear: both;
  background: darken($color-brown, 10%);
  text-align: center;
  padding: 30px 10%;
  p {
    margin: 0;
  }
  a {
    // display: block;
    // margin-top: 5px;
    // color: $color-white;
  }
}
